<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TodoMVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css"/>

    <script data-main="../generated/main" th:src="@{/generated/lib/require.js}"></script>

</head>
<body>
<!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
<!--@thymesVar id="message" type="String"-->
<!--*/-->
<div class="container">

    <h1>It works</h1>

</div>

</body>
</html>